<!DOCTYPE html>
<html>
<head>
	<title>Messanger</title>
	<link rel="shortcut icon" href="">
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	
	<script id="postmsg" type="text/x-handlebar-template">
        <div class="alert alert-dark" >

		<span class="msg-username"><strong>
		{% raw -%}
                    {{username}}
        {%- endraw %}	

		</strong></span>
			<span  class="text-muted msg-time">
				{% raw -%}
					{{time}}
				{%- endraw %}
			</span>
			<br>
			<p > 
				{% raw -%}
					{{msgtext}}
				{%- endraw %}

			</p>

		</div>
    </script>

	<script src="{{ url_for('static',filename='message.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='message.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='message_jquery.js') }}"></script>
	

</head>

<body>

<div class="container">
	
	<h1 id="heading">Welcome to Flack</h1>
	<h3 id="username"></h3>
	<p id="nousers">Online Users:</p>
	<div class="row">
		<div class="col-md-3 border-right ">
			
			<form id="channel_form" >
				<div class="row">
					<div class="form-group col-xs-3">
					<input type="text" class="form-control"  id="channel_name" autocomplete="off" placeholder="Channel Name">
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<button class="btn btn-primary btn-sm btn-block" type="submit"  id="submit_channel"> Create Channel</button>

					</div>
				</div>
			</form>


			<!-- <ul id="channels"></ul>	 -->		
			
			<div  id="channelnew" class="list-group" >
			</div>

		</div>
		<div class="col-md-9">
			<div class="chatlogs">
				
				
				
			</div>	 
			<!-- <ul id="msgs"></ul> -->
			<hr>
			<div class="chat-form">
			<form  id="msg_form">
				
		<!-- 		<div class="col-12">
					<input id="msg_text" autofocus type="text" name="msg">
	
					<input id="submit" value="Send" name="Send" type="submit">
				</div>
				 -->
				<div class="input-group mb-3">
					<input type="text" id="msg_text" class="form-control" placeholder="Type Your Msg Here"  aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button id="submit" class="btn btn-outline-secondary" type="submit">Send</button>
					</div>
				</div>

			</form>
		 	</div>

		</div>
		
	</div>


</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</html>